.table {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #00a6a6;
  margin: 0 auto;
  max-width: 50%;
}

.table__cell {
  position: relative;
  flex-basis: calc(33.3333% - 2px);
  background-color: #30bfbf;
  border: 1px solid #00a6a6;
  padding-top: calc(33.3333% - 2px);
  font-size: 0;
  transition: all 0.3s ease;
}

.table__cell:not(.table__cell_active):hover {
  background-color: #00a6a6;
  cursor: pointer;
}

@keyframes circle-fade-in {
  from {
    background-image: radial-gradient(
      closest-side at center,
      transparent 0%,
      transparent calc(50% - 6px),
      transparent calc(50% - 5px),
      transparent calc(50% - 1px),
      transparent 50%
    );
    background-size: 50% 50%;
  }
  to {
    background-image: radial-gradient(
      closest-side at center,
      transparent 0%,
      transparent calc(50% - 6px),
      #fff calc(50% - 5px),
      #fff calc(50% - 1px),
      transparent 50%
    );
    background-size: 100% 100%;
  }
}

@keyframes cross-fade-in {
  from {
    background-image: repeating-linear-gradient(
        45deg,
        transparent 0 calc(50% - 3px),
        transparent calc(50% - 2px) calc(50% + 2px),
        transparent calc(50% + 3px) 100%
      ),
      repeating-linear-gradient(
        45deg,
        transparent 0 calc(50% - 3px),
        transparent calc(50% - 2px) calc(50% + 2px),
        transparent calc(50% + 3px) 100%
      );
    background-size: 25% 25%, 25% 25%;
  }
  to {
    background-image: repeating-linear-gradient(
        -45deg,
        transparent 0 calc(50% - 3px),
        #000 calc(50% - 2px) calc(50% + 2px),
        transparent calc(50% + 3px) 100%
      ),
      repeating-linear-gradient(
        45deg,
        transparent 0 calc(50% - 3px),
        #000 calc(50% - 2px) calc(50% + 2px),
        transparent calc(50% + 3px) 100%
      );
    background-size: 50% 50%, 50% 50%;
  }
}

.table__cell_o.table__cell_active {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: 0.3s step-start 0s 1 normal forwards running circle-fade-in;
}

.table__cell_x.table__cell_active {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: 0.3s step-start 0s 1 normal forwards running cross-fade-in;
}

.table_active > .table__cell_o,
.table_active > .table__cell_x {
  animation-timing-function: ease-in;
}

.oxo {
  min-height: 100vh;
  font: 300 24px/1 "Open Sans", sans-serif;
}

.oxo__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  margin: 0 0 30px;
  padding: 15px 0;
  color: #fff;
}

.oxo__logo > :only-child {
  width: 96px;
  height: auto;
}

.player {
  text-align: center;
}

.player__score {
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.5em;
  color: #00ffff;
}

.oxo__header > :first-child {
  margin-left: 25%;
}

.oxo__header > :last-child {
  margin-right: 25%;
}

.oxo__action-panel {
  margin: 30px auto;
  max-width: 50%;
}

.action-panel {
  display: flex;
  flex-flow: row nowrap;
}

.action-panel__button {
  flex: 1 1 auto;
}

.button {
  background-color: #000;
  border-style: none;
  padding: 1em;
  font: 700 1em/1 "Open Sans", sans-serif;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.button:hover {
  background-color: #bf7130;
}
